/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', sans-serif;
    background-color: #000000;
    color: whitesmoke;
    line-height: 1.6;
}

a {
    color: #fff;
    text-decoration: none;
}

/*************************************/
/* Navigation */
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    z-index: 10;
}

.nav-links a {
    margin-left: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

/* Page Title Links */
.page-title a {
    text-decoration: none; /* Default: No underline */
    color: #fff; /* Ensure consistent color */
    font-weight: 300; /* Thin for non-active links */
    transition: font-weight 0.3s ease, color 0.3s ease; /* Smooth transition for style changes */
}

.page-title a:hover {
    text-decoration: underline; /* Underline on hover */
}

.page-title a.active {
    text-decoration: underline; /* Underline for active link */
    font-weight: bold; /* Bold for active link */
    color: #fff; /* Keep color consistent for active link */
}

.page-title {
    margin-top: 80px; /* Add space below navbar */
    padding: 20px 40px;
    text-align: center;
}

.page-title h4 {
    font-size: 1.5rem;
    font-weight: bold;
}


/* Project Gallery */
.project-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px;
    padding: 20px;
}

.gallery-item {
    display: flex;
    flex-direction: column; /* Stack image and title */
    align-items: center;
    text-align: center;
}

.gallery-item img {
    width: 100%; /* Make images responsive */
    height: 600px; /* Maintain consistent height */
    border-radius: 10px; /* Optional rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow */
    margin-bottom: 10px; /* Space below image */
}

/* Titles */
.project-title {
    font-size: 16px;
    font-weight: normal; /* Remove bold effect */
    text-align: center;
    margin: 10px 0 0;
}

/* Media Queries */
/* Mobile: Single Column Layout */
@media (max-width: 768px) {
    .project-gallery {
        grid-template-columns: 1fr;
    }

    .footer p {
        font-size: 12px; /* Smaller text for footer */
        line-height: 1.3;
        padding: 5px;
    }
}

/* Desktop: Adjust Layout for Large Screens */
@media (min-width: 1440px) {
    .project-gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 40px;
    }

    .gallery-item img {
        max-width: 700px; /* Restrict maximum width */
        max-height: 700px; /* Restrict maximum height */
        margin: 0 auto; /* Center image */
    }
}
